@{
    ViewBag.Title = "Free forum for you";
}

<h2> Index </h2>

Добро пожаловать на free-forum!
Вы можете @Html.ActionLink("почитать беседы", "Index", "Conversation") 
или @Html.ActionLink("создать новую", "Create", "Conversation")

Общайтесь на здоровье!