@{
    ViewBag.Title = "Free forum for you";
}

<h2> Index </h2>

<p> Добро пожаловать на free-forum! </p>
<p> Вы можете @Html.ActionLink("почитать беседы", "Index", "Conversation") </p>
@if (FreeForum.Helpers.AuthHelper.IsAuthenticated(Context))
{
    <p> или @Html.ActionLink("создать новую", "Create", "Conversation") </p>
}

Общайтесь на здоровье!